.recipe
  = recipe.name
  .ingredients
    - recipe.recipe_components.each do |ingredient|
      .image.left
        = image_for ingredient
        == x#{ingredient.quantity}

  .yields.left
    &raquo;
  = events_display recipe
  .clear