<% form_for(@character) do |f| %>
  <%= f.error_messages %>
  
  <p>
    Name: <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>
