!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title Dynamo Test
    <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/qunit/testsuite.css" type="text/css" media="screen" />
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'fortress/dynamo'
    = javascript_include_tag 'testrunner'
    = javascript_include_tag 'fortress/dynamo_test'

  %body

    %h1 QUnit example
    %h2#banner
    %h2#userAgent

    %ol#tests

    #main
