/* Area stylesheet

@import constants.sass

div.area
  border-color: black
  border-style: dashed
  padding: 1em
  margin-bottom: 1em

  p
    margin-top: 0px

  div.characters
    padding-left: 1em
    font-size: 12px

  div.signs
    padding-left: 1em
    font-size: 12px
