/* Chatbox stylesheet

@import constants.sass

#chat
  float: right
  background-color= !light_gray

  input#chat_input
    margin: 4px
    padding: 2px
    border: 2px solid
    border-color: black
    width: 245px
    font-size: 12px    

  .chat_text
    height: 120px
    border-style: double
    border-color: black
    background-color= !white
    padding: 5px
    overflow: auto
    
    ul
      padding: 0
      margin: 0
      list-style: none
      
      li
        font-size: 12px
