// Draggable window styles

@import constants.sass
.window_holder
  position: fixed
  z-index: 1

  .title_bar
    color: white
    font-weight: bold
    cursor: move

    .title_bar_corner
      float: left
      clear: none
      background: url(../images/windows/window_bar_corner.png) no-repeat
      background-color: !main_color
      width: 4px
      height: 2.2em
      position: fixed
      z-index: -1

    .title_bar_main
      background: url(../images/windows/window_bar.png) repeat-x
      background-color= !main_color
      border-right: 1px solid black
      padding: 0.4em
      margin: 0px 0px 0px 4px
      
      .title_bar_icon
        float: right
        clear: none
        width: 24px
        height: 24px
        
        &.collapsed
        background: url(../images/windows/expand.png) no-repeat
          
        &.expanded
        background: url(../images/windows/collapse.png) no-repeat
      
  .window
    background-color: white
    border-color: black
    border-style: solid
    border-width: 1px
    
    &.collapsed
      display: none