/* Main css file for Boomstick.
  Copyright StrD6 2008

// Constants
!p1         = #00aa00
!p2         = #00dd00
!p3         = #cccccc

!s1         = #0066ff
!s2         = #ffffcc
!s3         = #ffffff

!main_color = #1084CE
!light_gray = #00ff99
!dark_gray  = #303030

!error_color = #660000

// Main markup
body
  font-family: Verdana, Helvetica, Arial, sans-serif
  background-color= !s3

h1
  font-size: 20px
  color= !s1

#header, #content 
  position: relative
  margin: 20px
  width: 100%

#header div 
  float: left
  clear: none
  margin-right: 20px
  
  a
    font-size: 12px
    color: black
    text-decoration: underline
    &:hover
      text-decoration: none

#content form
  label 
    font-size: 12px
    padding-bottom: 5px
  input 
    font-size: 16px
    color= !dark_gray

// TODO: Good these up, embetter and embiggen
.notification
  padding: 4px
  border-style: groove double
  margin-bottom: 8px
  width: 70%

#notice
  color= !p1
  border-color= !main_color
  background-color= !s2

#error
  color= !error_color
  border-color= !error_color
  background-color= !s2

#errorExplanation, .errorExplanation
  color= !error_color