/* Main css file for Boomstick.
  Copyright StrD6 2008

// Constants
!p1         = #1020ce
!p2         = #0d1aa8
!p3         = #0a1482

!s1         = #8c92cf
!s2         = #7277a8
!s3         = #585c82

!main_color = #1084CE
!light_gray = #cfcfcf
!dark_gray  = #303030

// Main markup
body
  font-family: Verdana, Helvetica, Arial, sans-serif
  :background-color = !s3

h1
  font-size: 20px
  :color = !s1

#header, #content 
  position: relative
  margin: 20px
  width: 100%

#header div 
  float: left
  clear: none
  margin-right: 20px
  
  a
    font-size: 12px
    color: black
    text-decoration: underline
    &:hover
      text-decoration: none

#content form
  label 
    font-size: 12px
    padding-bottom: 5px
  input 
    font-size: 16px
    :color = !dark_gray

// TODO: Good these up, embetter and embiggen
#notice
  color: green
  border-style: groove double
  :border-color = !dark_gray

#error
  color: tan
  border-style: groove double
  :border-color = !dark_gray
  :background-color = !s2
  :padding 4px

#errorExplanation, .errorExplanation
  color: tan