%p
  HeroSquad is a fantasy themed tactical combat board game. Abilities and items
  are distributed randomly among your small squad of heroes. You choose how to
  configure them and then enter into the arena of combat. This blend of luck and
  skill means that every game is exciting and no two matches are exactly alike!

%p
  Getting started is easy, 
  = link_to "just sign in with your OpenID", :action => "login"