.game
  .characters
    float: left
  .cards
    float: left

.card
  width: 180px
  height: 252px
  border: 1px solid black
  float: left

  .name
    padding: 3px 10px 0
    font-size: 14px

  .image
    width: 162px
    height: 121px
    margin-left: auto
    margin-right: auto
    margin-top: 2px
    margin-bottom: 2px
    border: 1px solid black

  .type
    padding: 3px 10px 0
    font-size: 14px

  .text
    width: 162px
    height: 70px
    margin-left: auto
    margin-right: auto
    margin-top: 2px
    margin-bottom: 10px
    border: 1px solid black

.character_instance
  width: 180px
  border: 1px solid black
  margin: 3px
  float: left

  .attributes
    float: left

.tokens
  float: left

.token
  width: 16px
  height: 16px

.p0.token
  background-color: yellow

.p1.token
  background-color: #F0AAF0

.slot
  width: 50px
  height: 50px
  border: 1px solid black
  float: left
  margin: 4px
  overflow: hidden
