<h1>Log In</h1>

<% form_tag session_path do -%>
  <%= p_label 'login', text_field_tag('login', @login) %>

  <%= p_label 'password', password_field_tag('password', nil) %>

  <!-- Uncomment this if you want this functionality
  <%= p_label 'remember_me', check_box_tag('remember_me', '1', @remember_me) %>
  -->

  <p><%= submit_tag 'Log in' %></p>
<% end -%>
