- if @area.opportunities.size > 0
  - @area.opportunities.each do |opportunity|
    = link_to opportunity, :controller => 'characters', :action => 'take_opportunity', :id => opportunity.id

- else
  %h2 No Opportunities here

- if @area.area_links.size > 0
  %h2 Travel To
  - @area.area_links.each do |area_link|
    = link_to area_link.linked_area, :controller => 'characters', :action => 'take_area_link', :id => area_link.id