%p
  Ruby Quiz 3 is still very much under construction. The dust should settle 
  within a couple of weeks. Quizzes 157-188 were originally posted by Matthew 
  Moss, unless otherwise indicated, and are reposted here with permission.

%p
  = link_to "Ruby Quiz", "http://rubyquiz.com"
  = link_to "Ruby Quiz 2", "http://splatbang.com/rubyquiz"

%p
  = link_to "STRd6", "http://strd6.com"
