/* Area stylesheet */
div.area {
  border-color: black;
  border-style: dashed;
  padding: 1em;
  margin-bottom: 1em; }
  div.area p {
    margin-top: 0px; }
  div.area div.characters {
    padding-left: 1em;
    font-size: 12px; }
  div.area div.signs {
    padding-left: 1em;
    font-size: 12px; }

#game {
  margin: auto;
  border-style: solid;
  border-width: 2px;
  padding: 0;
  width: 640px;
  height: 480px;
  position: relative; }

#game.hover {
  border-color: green;
  border-style: dashed; }

.displayable {
  position: absolute;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: 0; }
  .displayable .overlay {
    font-weight: normal;
    font-size: 0.8em;
    position: relative;
    top: 2em;
    width: 200px; }

#sign_create {
  position: absolute;
  background-color: #FFF2D5;
  padding: 0.4em;
  width: 320px; }
  #sign_create form input {
    margin: 0.2em; }
