/* Chatbox stylesheet */
#chat {
  width: 300px;
  max-width: 300px;
  background-color: #cccccc; }
  #chat input#chat_input {
    padding: 2px;
    border: 2px solid;
    border-color: black;
    width: 210px;
    font-size: 12px; }
  #chat input#chat_submit {
    width: 60px;
    margin-left: 0; }
  #chat input {
    margin: 4px; }
  #chat .chat_text {
    height: 120px;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    overflow: auto; }
    #chat .chat_text ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #chat .chat_text ul li {
        font-size: 12px; }

#game_console {
  width: 300px;
  max-width: 300px; }
  #game_console .chat_text {
    height: 120px;
    border-color: black;
    background-color: #ffffff;
    padding: 5px;
    overflow: auto; }
    #game_console .chat_text ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #game_console .chat_text ul li {
        font-size: 12px; }
