/* Console box stylesheet */
#game_console .chat_text {
  height: 120px;
  border-color: black;
  background-color: #ffffff;
  padding: 5px;
  overflow: auto; }
  #game_console .chat_text ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #game_console .chat_text ul li {
      font-size: 12px; }
