#inventory {
  opacity: 0.8; }


.inventory_slot {
  width: 32px;
  height: 32px;
  margin: 2px;
  float: left;
  border: 1px solid black; }

.inventory_slot.hover {
  border-color: green;
  border-width: 2px;
  margin: 1px; }

.action_slot {
  width: 32px;
  height: 32px;
  margin: 2px;
  float: left;
  border: 1px solid black; }

.action_slot.active {
  border-color: green;
  border-width: 2px;
  margin: 1px; }
