/* Items stylesheet */
.detailed .item {
  border-style: double;
  border-color: black;
  background-color: #cccccc;
  width: 340px;
  margin-bottom: 0.5em; }
  .detailed .item .name {
    margin-left: 50px; }
  .detailed .item .description {
    padding: 0.5em;
    font-size: 12px; }
  .detailed .item img.item {
    float: left;
    padding: 0.5em;
    background-color: white; }
