/* Main css file for Boomstick.
 * Copyright StrD6 2008
 * //
 * // Constants */
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #585c82; }

h1 {
  font-size: 20px;
  color: #8c92cf; }

#header, #content {
  position: relative;
  margin: 20px;
  width: 100%; }

#header div {
  float: left;
  clear: none;
  margin-right: 20px; }
  #header div a {
    font-size: 12px;
    color: black;
    text-decoration: underline; }
    #header div a:hover {
      text-decoration: none; }

#content form label {
  font-size: 12px;
  padding-bottom: 5px; }
#content form input {
  font-size: 16px;
  color: #303030; }

#notice {
  color: green;
  border-style: groove double;
  border-color: #303030; }

#error {
  color: tan;
  border-style: groove double;
  border-color: #303030;
  background-color: #7277a8;
  padding: 4px; }

#errorExplanation, .errorExplanation {
  color: tan; }
