- if active_character
  - render(window 'active_character') do
    .content
      = render :partial => 'characters/character', :locals => { :character => active_character }
  = javascript_tag "$character_id = #{active_character.id}"