- if current_user
  - render window('actions') do
    .actions_body
      - %w[move sign tree wood axe].each do |action|
        = render :partial => 'components/action', :locals => {:name => action}
      = javascript_tag "activeAction(move_action);"
    .clear