- if current_user
  - render(window 'actions') do
    .actions_body
      - %w[move sign tree].each do |action|
        = render :partial => 'components/action', :locals => {:name => action}
      = javascript_tag "active_action('move_action');"
