- if current_user && current_user.active_character
  - render(window 'active_character') do
    .content
      = render :partial => 'characters/character', :locals => { :character => current_user.active_character }