#chat.window
  = juggernaut

  #chat_handle.title_bar Chat

  .chat_text
    %ul#chat_data

  - form_remote_tag :url => { :controller => :welcome, :action => :send_data }, :complete => "$('chat_input').value = ''" do
    = text_field_tag 'chat_input', '', { :id => 'chat_input'}
    = submit_tag "Add"
= draggable_element 'chat', :snap => '[10,10]', :handle => "'chat_handle'"