- if current_user
  - render window('chat') do
    .chat_text
      %ul#chat_data

    - form_remote_tag :url => { :controller => :welcome, :action => :send_data }, :complete => "$('chat_input').value = ''" do
      = text_field_tag 'chat_input', '', { :id => 'chat_input'}
      = submit_tag "Add"