= render :partial => '/game/displayable_content', :locals => {:displayable => displayable}
= draggable_element "#{displayable.class.to_s.underscore}_#{displayable.id}", :revert => 'drag_revert', :onStart => 'drag_start'