%div.displayable[displayable]{:style => "background-image: url(#{image_path displayable.image}.png); top: #{displayable.top}px; left: #{displayable.left}px;"}
  - if displayable.overlay_text
    .overlay= displayable.overlay_text