#footer
  %p
    =link_to "Suggestions", suggestions_path
    | 
    =link_to "RSS Feed", formatted_quizzes_url(:rss)
    |  Design &copy 2009
    = link_to "STRd6", "http://strd6.com"
    = auto_discovery_link_tag(:rss, { :controller => "quizzes", :format => "rss"})
  %p
    = link_to "Contact Ruby Quiz (Daniel)", "mailto:yahivin@gmail.com"
