<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkname=#{page_name}&amp;linkurl=#{page_url}">
<img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Bookmark"/>
</a>
<script type="text/javascript">a2a_linkname="#{page_name}";a2a_linkurl="#{page_url}";</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
