%h2
  = @quiz.id
  = @quiz.title

%h3 Description
= preserve Maruku.new(@quiz.description).to_html

- unless @quiz.summary.blank?
  %a{:name => 'summary'}
  %h3 Summary
  = preserve Maruku.new(@quiz.summary).to_html