.opportunity_base
  = opportunity_base.name
  = events_display opportunity_base
  .clear
  %p
    - if opportunity_base.requisites.size > 0
      = opportunity_base.requisites.to_sentence
    - else
      no requisites
  .clear