.opportunity_base
  = opportunity_base.name
  - opportunity_base.loots.each do |outcome|
    .image.left= image_for outcome
    .left
      = "or" unless outcome == opportunity_base.loots.last
  .clear
  %p
    - if opportunity_base.requisites.size > 0
      = opportunity_base.requisites.to_sentence
    - else
      no requisites
  .clear